/* **********************************************
   Beaver Builder
 ************************************************/

.fl-builder {
		
	// create CSS overlay for rows with .pattern-overlay class
	.fl-row.pattern-overlay .fl-row-content-wrap {
	 	@include pattern-overlay;
	}

	// fix BB's width
	.fl-row-fixed-width {
	    max-width: 1100px;
	}

	blockquote {
		border: 0;
	}

	// fix widget font size
	.widget {
	    margin-bottom: 44px;
	    margin-bottom: 4.4rem;
	    font-size: inherit;
	}

	.widgettitle{ 
		@extend h3 !optional;
		margin-top: 0;
	}

	// make's h3 size
	h2.fl-post-feed-title {
		@extend h4 !optional;
		margin: 0 0 11px 0;
    	margin: 0 0 1.1rem 0;
	}

	//recent posts feed
	.fl-post-feed-post {
	    border-bottom: 0;
	    padding-bottom: 0;
	}

	// number counters
	.fl-number {
		.fl-number-before-text, .fl-number-after-text {
		    font-size: 65%;
		    line-height: 1.2;
		}
	}
	
	.fl-row.feature {
		h1, h2, h3 {
			text-shadow: 2px 2px 2px #000;
			text-shadow: 2px 2px 2px rgba(0,0,0,.45);
		}
	}
	
	.fl-post-grid-text {
	    padding: 10px;
	}
	
}


.single-fl-builder-template .site-content > .container {
	width: 100%;
	max-width: none;
	padding: 0;
	clear: both;

	.site-main {
	    width: 100%;
	    float: none;
	}
}