$sidebar-width: 260px;
$sidebar-width-neg: -260px;

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: $sidebar-width;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f8f8f8;
  padding: 1em;

  &.right {
    left: auto;
    right: $sidebar-width-neg;
  }
  &.left {
    left: $sidebar-width-neg;
    right: auto;
  }

  ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    clear: both;
    li {
      display: block;
      margin: 0;
      &:hover, &.active, &.sidr-class-active {
        // line-height: 49px;
      }
      a {
        display: block;
        font-size: 1em;
        line-height: 3em;
      }
      ul {
        border-bottom: 0;
        margin: 0;
      }
    }
  }
}

#sidr {
  .sidr-widget-area { display: none; }
  .sidr-close { display: none; }
}



.sidr-open {
  #navbar-toggle{
    display: none;
  }
  .sidr-close { 
    cursor: pointer; 
    margin-bottom: .5em;
    float: right;
    &:before{ margin-right: .25em; }
  }
  .sidr-widget-area{
    display: block;
  }
}

.sidr-overlay {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999998;
    background: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    cursor: pointer;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
