form {
	legend {
		 @include caps;
		 border: 0;
	}

	.col-1-wrap,  .col-2-wrap {
	    width: 48%;
	    float: left;
	    margin-right: 4%;
	}
	
	.col-2-wrap {
	    margin-right: 0;
	}
	
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="url"] {
	    height: auto;
	    border-radius: 0;
	}
}